resources/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.npmpackagejsonlintrc.json export-ignore
.prettierignore export-ignore
.prettierrc export-ignore
.phpcs.xml.dist export-ignore
easy-replace-in-files.json export-ignore
package.json export-ignore
webpack.config.js export-ignore
