.wpw-box {
	position: relative;
	padding: 20px;
	border: 1px solid var(--wpw-color-border);
	box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
	background: #fff;

	h3 {
		margin-top: 0;
		border-bottom: 1px solid var(--wpw-color-border);
		padding-bottom: 10px;
		font-size: 1.2em;

		span {
			color: var(--wpw-color-primary);
			margin-right: 5px;
		}
	}

	p {
		margin: 0 0 1.3em 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		list-style-type: disc;
	}

	ul,
	ol {
		margin-left: 15px;
	}

	&.gray {
		background: var(--wpw-color-whitesmoke);
	}

	&.plain {
		position: relative;
		border: 1px solid var(--wpw-color-border);
		background: var(--wpw-color-whitesmoke);
		border-radius: 5px;
		padding: 20px;

		h3 {
			border-bottom: none;
			padding-bottom: 0;
			font-size: 1.2em;
		}
	}

	.wpw-stars {
		margin-bottom: 10px;

		.dashicons-star-filled::before {
			color: var(--wpw-color-yellow);
			margin-right: 3px;
		}
	}

	&.wpw-box-plugin {
		.wpw-buttons {
			border-top: 1px solid var(--wpw-color-border);
			padding-top: 15px;
		}
	}
}
