.wpw-grid {
	display: grid;
	gap: 20px;

	img {
		max-width: 100%;
	}

	&.wpw-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));

		@media (--bp-1) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&.wpw-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));

		@media (--bp-1) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@media (--bp-3) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
