.wpw-tabs-nav {
	padding: 15px 20px;
	border-bottom: 1px solid var(--wpw-color-border);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 25px;

	h3 {
		margin: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 3px solid transparent;
		padding: 13px 0;
		outline: none;
		box-shadow: none;

		&.active {
			border-color: var(--wpw-color-blue);
		}
	}
}

.wpw-tabs-content-wrap {
	padding: 20px;

	.wpw-tab-content {
		display: none;

		&.active {
			display: block;
		}

		ul {
			list-style-type: disc;
		}

		ul,
		ol {
			list-style-position: outside;
			margin-left: 15px;
		}

		ul,
		ol,
		p {
			margin-bottom: 1.3em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		h2,
		h3,
		h4 {
			margin-top: 0;
		}

		h3 {
			font-size: 1.2em;
		}
	}
}
