.wpw-wrap {

	.button-upgrade {
		background: $green;
		border-color: $green;
		padding: 5px 20px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: auto;
		text-shadow: none;
		box-shadow: none;

		&:hover {
			border-color: #2271b1;
			background-color: #2271b1;
		}
	}

	.button-hero {
		box-shadow: none !important;
		border-color: $blue;

		&:hover {
			background-color: #135e96;
			border-color: #135e96;
		}
	}

	.wpw-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}
