.comparison-table {
	border-spacing: 0;
	width: 100%;

	.dashicons-before::before {
		font-size: 25px;
		height: 25px;
		width: 25px;
	}

	th {
		padding-bottom: 20px;
		font-size: 1.1em;
	}

	td {
		border-top: 1px solid #ccc;
		padding: 20px 0;

		p {
			margin: 0;
		}
	}

	h3 {
		margin: 0;
		margin-bottom: 8px;
	}

	.col-free,
	.col-pro {
		text-align: center;
		width: 25%;
	}

	.yes.dashicons-before::before {
		color: $green;
	}

	.no.dashicons-before::before {
		color: $orange;
	}

	.wpw-comparison-row-upgrade td {
		text-align: right;
		padding-bottom: 10px;

		a {
			margin-top: 10px;
		}
	}
}
